<html>
	<body bgcolor="#cecece">
		<p>Type in the Vin code to see what type of Corris Rivett you got!</p>
		 <img src="/assets/images/example_vin.png" alt="The very first vin plate I got on my first My Winter Car playthrough">
		<div class="row">
			<div class="column">
				<label>VIN Decode V1</label>
				<br>
				<label> DOES NOT USE TYPE OR VERSION</label>
				<!-- UBBBDML465541NABBAU-KJ-184-A- Is the code shown on the vinplate my winter car website -->
				<p>VIN Code: <input type="text" id="vincode" value="UBBBDML465541NABBAU-KJ-184-A-" style="width:220px" maxlength="29"></p>
				<button onclick="decodeVin(vincode, decodedVIN_type1)">Decode VIN!</button>
				<ul id="decodedVIN_type1"></ul>
			</div>
			
			<div class="column">
				<label>VIN Decode V2</label>
					<p style="font-size:120%;">Type | Version | Vehicle No.</p>
				<div style="padding: 15px;">
					<input type="text" id="vin_type" value="GG" maxlength="2" style="width:32px">
					<label style="padding: 8px;">&nbsp;</label>
					<input type="text" id="vin_version" value="G" maxlength="1" style="width:16px">
					<label style="padding: 8px;">&nbsp;&nbsp;</label>
					<input type="text" id="vin_vehicleNo" value="UBBBDML46554" maxlength="12" style="width:110px">
				</div>
				<p style="font-size:120%;">Drive | Engine | Trans. | Axle | Colour | Trim</p>
				<div style="padding: 15px;">
					<input type="text" id="vin_drive" value="1" maxlength="1" style="width:16px">
					<label style="padding: 8px;">&nbsp;</label>
					<input type="text" id="vin_engine" value="NA" maxlength="2" style="width:32px">
					<label style="padding: 16px;">&nbsp;</label>
					<input type="text" id="vin_trans" value="B" maxlength="1" style="width:16px">
					<label style="padding: 12px;">&nbsp;&nbsp;</label>
					<input type="text" id="vin_axle" value="BA" maxlength="2" style="width:32px">
					<label style="padding: 4px;">&nbsp;&nbsp;</label>
					<input type="text" id="vin_colour" value="U-" maxlength="2" style="width:32px">
					<label style="padding: 8px;">&nbsp;&nbsp;</label>
					<input type="text" id="vin_trim" value="K" maxlength="1" style="width:16px">
				</div>
					<p style="font-size:120%;">L.D.O</p>
				<div style="padding: 15px;">
					<input type="text" id="vin_ldo" value="J-184-A-" maxlength="8" style="width:64px padding: 15px;">
				</div>
				<button onclick="decodeVin(vin_vehicleNo, decodedVIN_type2)">Decode VIN!</button>
				<ul id="decodedVIN_type2"></ul>
			</div>
		</div>
	<script>
		
		function combineVinCode()
		{
			var combinedVinCode = document.getElementById("vin_vehicleNo").value 
				+ document.getElementById("vin_drive").value 
				+ document.getElementById("vin_engine").value 
				+ document.getElementById("vin_trans").value 
				+ document.getElementById("vin_axle").value 
				+ document.getElementById("vin_colour").value
				+ document.getElementById("vin_trim").value
				+ document.getElementById("vin_ldo").value;
			return combinedVinCode;
		}
		
		function decodeVin(vincode_input_id, vincode_result_id)
		{
			const country = ["Corris Britain"];
			const countryCode = ["U"];
			const assemblyPlant = ["Dagenham", "Manchester", "Saarlouus", "Rheine"];
			const assmblyPlantCode = ["A", "B", "C", "K"];
			const model = ["Rivett"];
			const modelCode = ["B"];
			const bodyType = ["2D Pilared Sedan"];
			const bodyTypeCode = ["B"];
			const version = ["L", "LX", "SLX", "GT"];
			const versionCode = ["D", "E", "G", "B"];
			const year = ["1971", "1972", "1973", "1974 (Facelift)","1975", "1976"];
			const yearCode = ["L", "M", "N", "P","R", "S"];
			const month = ["01", "02", "03", "04", "05", "06", "07", "08", "09","10", "11", "12"];
			const monthCode = ["C", "K", "D", "E", "L", "Y", "S", "T", "J","U", "M", "P"];
			const drive = ["RWD"];
			const driveCode = ["1"]
			const engine = ["Standard 2.0", "High Performance 2.0"];
			const engineCode = ["NA", "NE"];
			const gearbox = ["3-spd Automatic", "4-spd Manual"];
			const gearboxCode = ["7", "B"]
			const axleRatio = ["3.44", "3.75", "3.89", "4.11", "4.44"];
			const axleRatioCode = ["S", "B", "C", "N", "E"];
			const axleLock = ["Open", "LSD"];
			const axleLockCode = ["A", "B"];
			const bodyColour = ["Dark Grey", "Nature White", "Sand", "Asphalt Grey", "Blue", "Sun Yellow", "Dark Navy", "Royal Red", "Brown", "Red", "Electric Green", "White Pearl", "Spring Green", "Purple", "Yellow", "Sky Blue", "Orange", "Navy Blue", "Special"];
			const bodyColourCode = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "R", "T", "U", "V", "X", "Y"];
			const vinylRoof = ["Paint", "Black", "White", "Tan", "Blue", "Dark Brown"];
			const vinylRoofCode = ["-", "A", "B", "C", "K", "M"];
			const interiorTrim = ["Red", "Black", "Tan", "Blue", "Special"];
			const interiorTrimCode = ["N", "A", "K", "F", "Y"];
			const radio = ["Radio delete", "Radio"];
			const radioCode = ["-", "J"]
			const instrumentPanel = ["Standard", "Clock", "Tachometer"];
			const instrumentPanelCode = ["-", "G", "M"];
			const windShield = ["Clear", "Tinted", "Sunstrip"];
			const windShieldCode = ["1", "2", "F"];
			const seats = ["Standard", "Bucket Style"];
			const seatsCode = ["8", "B"];
			const suspension = ["Standard", "Standard + Stiffened", "Lowered", "Lowered + Stiffened"];
			const suspensionCode = ["A", "B", "4", "M"]
			const brakes = ["Standard", "Power Brakes"];
			const brakesCode = ["-", "B"];
			const wheels = ["13\" Steel", "13\" Steel", "14 \" Sport", "14 \" Steel / 14 \" Octo"];
			const wheelsCode = ["A", "B", "4", "M"];
			const rearWindow = ["Standard", "Heated", "Standard + Window Grille"];
			const rearWindowCode = ["-", "B", "M"];
			
			var vinCode = document.getElementById(vincode_input_id.id).value;
			if(vincode_input_id.id == "vin_vehicleNo")
			{
				vinCode = combineVinCode();
			}
			var vinCodeString = vinCode.toString();
			document.getElementById(vincode_result_id.id).innerHTML = ""
			if(vincode_input_id.id == "vin_vehicleNo")
			{
				appendResult("Type: "+document.getElementById("vin_type").value.toString(), vincode_result_id);
				appendResult("Version: "+document.getElementById("vin_version").value.toString(), vincode_result_id);
			}
			var countryResultStr = "1. Country: " + checkCode(countryCode, country, vinCodeString[0]);//1
			appendResult(countryResultStr.toString(), vincode_result_id);
			var assemblyResultStr = "2. Assembly: " + checkCode(assmblyPlantCode, assemblyPlant, vinCodeString[1]);//2
			appendResult(assemblyResultStr.toString(), vincode_result_id);
			var modelResultStr = "3. Model: " + checkCode(modelCode, model, vinCodeString[2]);//3
			appendResult(modelResultStr.toString(), vincode_result_id);
			var bodyTypeResultStr = "4. Body Type: " + checkCode(bodyTypeCode, bodyType, vinCodeString[3]);//4
			appendResult(bodyTypeResultStr.toString(), vincode_result_id);
			var versionCodeResultStr = "5. Version Code: " + checkCode(versionCode, version, vinCodeString[4]);//5
			appendResult(versionCodeResultStr.toString(), vincode_result_id);
			var yearCodeResultStr = "6. Year Code: " + checkCode(yearCode, year, vinCodeString[5]);//6
			appendResult(yearCodeResultStr.toString(), vincode_result_id);
			var monthCodeResultStr = "7. Month Code: " + checkCode(monthCode, month, vinCodeString[6]);//7
			appendResult(monthCodeResultStr.toString(), vincode_result_id);
			var serialNumber = "8. Serial Number: " + vinCodeString.substring(7, 11);//8
			appendResult(serialNumber.toString(), vincode_result_id);
			var driveCodeResultStr = "9. Drive Code: " + checkCode(driveCode, drive, vinCodeString[12]);//9
			appendResult(driveCodeResultStr.toString(), vincode_result_id);
			var engineCodeResultStr = "10. Engine Code: " + checkCode(engineCode, engine, vinCodeString.substring(13, 15));//10
			appendResult(engineCodeResultStr.toString(), vincode_result_id);
			var gearboxResultStr = "11. Gearbox: " + checkCode(gearboxCode, gearbox, vinCodeString[15]);//11
			appendResult(gearboxResultStr.toString(), vincode_result_id);
			var axleRatioResultStr = "12. Axle Ratio: " + checkCode(axleRatioCode, axleRatio, vinCodeString[16]);//12
			appendResult(axleRatioResultStr.toString(), vincode_result_id);
			var axleLockResultStr = "13. Axle Lock: " + checkCode(axleLockCode, axleLock, vinCodeString[17]);//13
			appendResult(axleLockResultStr.toString(), vincode_result_id);
			var bodyColourResultStr = "14. Body Colour: " + checkCode(bodyColourCode, bodyColour, vinCodeString[18]);//14
			appendResult(bodyColourResultStr.toString(), vincode_result_id);
			var vinylRoofResultStr = "15. Vinyl Roof: " + checkCode(vinylRoofCode, vinylRoof, vinCodeString[19]);//15
			appendResult(vinylRoofResultStr.toString(), vincode_result_id);
			var interiorTrimResultStr = "16. Interior Trim: " + checkCode(interiorTrimCode, interiorTrim, vinCodeString[20]);//16
			appendResult(interiorTrimResultStr.toString(), vincode_result_id);
			var radioResultStr = "17. Radio: " + checkCode(radioCode, radio, vinCodeString[21]);//17
			appendResult(radioResultStr.toString(), vincode_result_id);
			var instrumentPanelResultStr = "18. Instrument Panel: " + checkCode(instrumentPanelCode, instrumentPanel, vinCodeString[22]);//18
			appendResult(instrumentPanelResultStr.toString(), vincode_result_id);
			var windShieldResultStr = "19. Windshield: " + checkCode(windShieldCode, windShield, vinCodeString[23]);//19
			appendResult(windShieldResultStr.toString(), vincode_result_id);
			var seatsResultStr = "20. Seats: " + checkCode(seatsCode, seats, vinCodeString[24]);//20
			appendResult(seatsResultStr.toString(), vincode_result_id);
			var suspensionResultStr = "21. Suspension: " + checkCode(suspensionCode, suspension, vinCodeString[25]);//21
			appendResult(suspensionResultStr.toString(), vincode_result_id);
			var brakesResultStr = "22. Brakes: " + checkCode(brakesCode, brakes, vinCodeString[26]);//22
			appendResult(brakesResultStr.toString(), vincode_result_id);
			var wheelsResultStr = "23. Wheels: " + checkCode(wheelsCode, wheels, vinCodeString[27]);//23
			appendResult(wheelsResultStr.toString(), vincode_result_id);
			var rearWindowResultStr = "24. Rear Window: " + checkCode(rearWindowCode, rearWindow, vinCodeString[28]);//24
			appendResult(rearWindowResultStr.toString(), vincode_result_id);
		}
		function appendResult(result, vincode_result_id)
		{
			const element = document.createElement("li");
			const resultTextNode = document.createTextNode(result.toString());
			element.appendChild(resultTextNode);
			document.getElementById(vincode_result_id.id).appendChild(element);
		}
		
		
		function checkCode(code, result, input)
		{
			for (let i = 0; i < code.length; i++) 
			{
				if(input == code[i])
				{
					return result[i];
				}
			}
		}
		
		</script>
	</body>
</html>